#highlight {
  background: #ffffcc;
}

.about-craigslist {
  width: 175px;
  height: 820px;
  background: #eee;
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.about-craigslist a:hover {
  text-decoration: underline;
}

.about-craigslist > h2 a {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.about-craigslist > .create-posting {
  margin-top: 5px;
}

.about-craigslist > .create-posting a {
  font-size: 15.25px;
  background: #ffffcc;
}

.about-craigslist > h4 {
  margin-top: -12px;
}

.about-craigslist > h4 a {
  font-size: 14px;
}

.about-craigslist > form {
  margin-top: 15px;
}

.about-craigslist > form input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  padding: 2px;
  width: 168px;
}

.about-craigslist > form input:hover {
  border-color: #aaa;
}

.about-craigslist > form input:focus {
  border: 2px solid black;
}

.about-craigslist > .calendar {
  margin-top: 15px;
}

.about-craigslist > .calendar a {
  font-size: 13px;
  font-weight: bold;
}

.about-craigslist table {
  height: 97px;
  width: 152px;
  margin: 0 auto;
}

.about-craigslist table th {
  background: #ccc;
  font-size: 13px;
}

.about-craigslist table td {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
}

.about-craigslist ul {
  margin-top: 25px;
}

.about-craigslist li {
  margin-top: 4px;
}

.about-craigslist ul a {
  font-size: 14px;
}