footer {
  width: 100%;
  text-align: center;
  background: #eee;
  border-top: 1px solid #ccc;
  padding: 8px 0;
}

footer ul {
  width: 100%;
}

footer ul li {
  display: inline-block;
  margin-left: 10px;
}

footer ul p, footer ul a {
  font-size: 13px;
}

footer ul p {
  color: #282828;
}